.wrapper {
  animation: scroll 140s linear infinite;
  background: url("https://img.freepik.com/vector-premium/patron-transparente-vector-alquimia-oro-simbolos-astrologia-dibujados-mano-lineas_265182-209.jpg?w=1380"),
    #111111;
  background-size: 100%;
  color: #eee;
  height: 100%;
  min-width: 360px;
  width: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  display: flexbox;
  text-align: center;
  
}
@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}


/* 

.wrapper {
  animation: scroll 140s linear infinite;
  background: url("https://e1.pxfuel.com/desktop-wallpaper/39/1004/desktop-wallpaper-dynamic-space-backgrounds-by-dinvstudio-space-background.jpg"),
    #111111;
  background-size: 100%;
  color: #eee;
  height: 100%;
  min-width: 360px;
  width: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  display: flexbox;
  text-align: center;
  
} */


/* SCROLL */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #321240;
  border: 0px none #ffffff;
  border-radius: 69px;
}
::-webkit-scrollbar-thumb:hover {
  background: #361b46;
}
::-webkit-scrollbar-thumb:active {
  background: #361b46;
}
::-webkit-scrollbar-track {
  background: #4f4f4f;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #4f4f4f;
}
::-webkit-scrollbar-track:active {
  background: #525252;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
